---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import PerfilCard from "../../components/PerfilCard.astro";
import Pagination from "../../components/Pagination.astro";

import { formatBlogPosts } from "../../js/utils";

interface Props {
  title: string;
  page: any;
}

export async function getStaticPaths({ paginate }) {
  const perfiles = await getCollection("perfiles");
	const formattedPosts = formatBlogPosts(perfiles);

	return paginate(formattedPosts, {
		pageSize: 6,
	});
}

const { page } = Astro.props;
---

<Layout
  title="Profesionales y Empresas - Minilink Soluciones profesionales en internet poner mi negocio en internet."
  description="Ofrecemos los servicios de publicidad para tu empresa asi como servicios de diseño gráfico, desarrollo web y marketing online"
  h2="Profesionales y Empresas"
>
  <section>
    <header>
      <h2>¿Qué estas buscando?</h2>
    </header>

    <script>
      (function () {
        var cx = "004575919497788482541:bfekp2cnzbo";
        var gcse = document.createElement("script");
        gcse.type = "text/javascript";
        gcse.async = true;
        gcse.src = "https://cse.google.com/cse.js?cx=" + cx;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script> 
    <gcse:search></gcse:search>
  </section>

  <Pagination prevURL={page.url.prev} nextURL={page.url.next} />

  <div class="flex flex-wrap justify-between flex-col gap-4 my-4 md:lg:flex-row md:lg:[&>article]:w-[30%]">
    {page.data.map((post: any) => <PerfilCard post={post} />)}
  </div>

  <Pagination prevURL={page.url.prev} nextURL={page.url.next} />

</Layout>