---
const { image, imgAlt, h1, h2, category, offers } = Astro.props;
---

<div class="wrapper-header">
  <header>
    <img src={image} alt={imgAlt} />
    <div>
      <h2>{category} {h2}</h2>
      <h1>{offers} {h1}</h1>
    </div>
  </header>
</div>
