---
const { frontmatter, url } = Astro.props;
const { title, image, description, category, name, tags } = frontmatter;
---

<article class="card-profile">
  <a href={url} title={title}>
    <span class="card-category">{category}</span>

    <header>
      <h2>{title}</h2>
      <h3>{name}</h3>
    </header>

    <div class="card-descripcion">
      <p>{description.slice(0, 100)}...</p>
    </div>

    <figure>
      <img src={image.url} alt={image.alt} />
      <figcaption>{name}</figcaption>
    </figure>

    <div class="card-tags">
      {tags.map((tag: any) => <span>{tag}</span>)}
    </div>
  </a>
</article>
