---
import { slugify } from "../js/utils.js";

const { post } = Astro.props;
---

<article id="perfiles">
  <a href={`/profesionales-empresas/${slugify(post.slug)}/`} title={post.data.title} >
    <small>{post.data.category}</small>

    <header>
      <h2 class="text-(length:--h2)">{post.data.title}</h2>
      <h3 class="text-(length:--h3)">{post.data.name}</h3>
    </header>

    <div>
      <p>{post.data.description.slice(0, 100)}...</p>
    </div>

    <figure>
      <img src={post.data.image} alt={post.data.title} loading="lazy" class="rounded" />
      <figcaption class="text-center">{post.data.name}</figcaption>
    </figure>
  </a>
</article>