---
import Layout from "../layouts/Layout.astro";
import "../styles/perfil.css";

const { frontmatter, url = window.location } = Astro.props;
const { title, description, category, offers, name } = frontmatter;
---

<Layout
  title={name}
  {description}
  keywords={frontmatter.tags}
  image={frontmatter.image.url}
  imageAlt={frontmatter.image.alt}
  {category}
  {offers}
  {url}
  type="Article"
  {frontmatter}
  h1={title}
  h2={name}
>
  <main>
    <article class="perfil"><slot /></article>
  </main>
</Layout>
