---
/* importando estilos */
import "../styles/global.css";

/* importando componentes */
import MainHead from "./MainHead.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CookiesView from "../components/CookiesView.astro";

const {
  /* Para componente MainHead */
  title = "Minilink Soluciones",
  description = "Pública tu profesión o empresa en Internet con Minilink Soluciones, fácil y gratuitamente.",
  keywords = "directorio empresarial, profesionales, Minilink Soluciones, diseñadores, topógrafo, publica tu profesión",
  image = "/minilink.svg",
  imgAlt = "M mayúscula con la palabra Minilink debajo de ella.",
  type = "Website",
  url = "minilink.edgarcornejo.com",
  category,
  offers,
  /* Para componente Header */
  h1 = "Pública tu profesión o empresa en Internet",
  h2 = "Minilink Soluciones",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <MainHead {title} {description} {keywords} {image} {imgAlt} {type} {url} />
  <body class="font-sans text-base bg-[url('/img/struckaxiom.png')]">
    <Nav />

    <Header {image} {h1} {h2} {category} {offers} />

    <main class="m-auto py-2 max-w-[90%] prose">
      <slot />
    </main>

    <Footer />

    <CookiesView />
  </body>
</html>
