---
const { title, description, keywords, image, imgAlt, type, url } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="author" href="/humans.txt" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png" />
  <meta name="generator" content={Astro.generator} />

  <title>
    {title} - Pública tu profesión o empresa en Internet, directorio empresarial.
  </title>

  <!-- META -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="autor" content="Edgar Cornejo" />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta name="robots" content="Index,Follow" />
  <meta name="copyright" content="© Edgar Cornejo" />
  <meta name="distribution" content="global" />
  <meta name="designer" content="Edgar Cornejo" />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  <meta property="og:image" content={image} />
  <meta property="og:image:alt" content={imgAlt} />
  <meta property="og:type" content={type} />
  <meta property="og:site_name" content="Minilink Soluciones" />
  <meta property="og:locale" content="es_PE" />
</head>
